html {
  background-repeat: no-repeat;
  /* prettier-ignore */
  background-image: radial-gradient(circle at 40% 91%, rgba(251, 251, 251,0.04) 0%, rgba(251, 251, 251,0.04) 50%,rgba(229, 229, 229,0.04) 50%, rgba(229, 229, 229,0.04) 100%),radial-gradient(circle at 66% 97%, rgba(36, 36, 36,0.04) 0%, rgba(36, 36, 36,0.04) 50%,rgba(46, 46, 46,0.04) 50%, rgba(46, 46, 46,0.04) 100%),radial-gradient(circle at 86% 7%, rgba(40, 40, 40,0.04) 0%, rgba(40, 40, 40,0.04) 50%,rgba(200, 200, 200,0.04) 50%, rgba(200, 200, 200,0.04) 100%),radial-gradient(circle at 15% 16%, rgba(99, 99, 99,0.04) 0%, rgba(99, 99, 99,0.04) 50%,rgba(45, 45, 45,0.04) 50%, rgba(45, 45, 45,0.04) 100%),radial-gradient(circle at 75% 99%, rgba(243, 243, 243,0.04) 0%, rgba(243, 243, 243,0.04) 50%,rgba(37, 37, 37,0.04) 50%, rgba(37, 37, 37,0.04) 100%),linear-gradient(90deg, rgb(34, 222, 237),rgb(135, 89, 215));
  min-height: 100%;
  height: fit-content;
}

li {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.cont {
  justify-content: center;
}
.p {
  display: inline-block;
}
.pp {
  margin: 0;
}
.trash {
  display: inline-block;
  margin-left: 0.5em;
}
#theinput {
  font-size: 1em;
  width: 20rem;
  display: block;
  border: black;
}
#desc {
  display: block;
}
.check {
  display: none;
}
.remove {
  background-color: red;
  color: white;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}
